.homeApp {
    width: 100%;
    height: 89%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title_homeApp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: 'rgba(0, 0, 0, .7)';
    position: relative;
    color: rgb(109, 104, 104);
}
.title_homeApp::after{
    position: absolute;
    width: 7px;
    height: 70%;
    background-color:  rgb(255, 156, 156);
    left: .3%;
    content: '';
    box-shadow: 2px 2px 1px rgb(255, 156, 156, .4);
}

.movies {
    padding: 10px;
    display: flex;
    justify-content: center;
    min-width: 50%;
    flex-wrap: wrap;
    gap: 60px;
}

/* theme dark */

.homeApp_dark{
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homeApp_dark .title_homeApp{
    background-color: #646f79;
}
.homeApp_dark .title_homeApp::after{
    background-color:  rgb(87, 99, 112);
    left: .3%;
    box-shadow: 2px 2px 1px rgba(94, 101, 121, 0.8);
}

.homeApp_dark .title_homeApp h3{
    color: #ccd1d4;
}

.homeApp_dark .movies{
    background-color: #888f96;
}