@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Roboto&family=Ubuntu&display=swap');


.show_sidebar, .sidebar{
    height: 100vh;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

/* show sidebar */
.show_sidebar {
    flex: .25;
}

/* hide sidebar */
.sidebar {
    flex: .1;
}

.sidebar .card_img img {
    width: 40px;
    height: 40px;
}

.sidebar .body_sidebar ul li {
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.sidebar ul li span {
    justify-content: center;
}

.header_sidebar {
    background-color: #f7eeee;
}

.card_img {
    border-radius: 24px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.card_img h4 {
    color: #cf5050;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    width: 100px;
    margin: 0;
}


.body_sidebar {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    height: 100%;
}

.body_sidebar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 1rem;
    background-color: #ffff;
    border-radius: 14px;

    color: rgb(102, 101, 101);
}

.body_sidebar ul li {
    margin: .5rem 0;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
    background-color: #ffff;
    margin-left: 13px;
    display: flex;
}

.body_sidebar ul li:hover {
    background-color: rgb(84, 84, 197, .1);
    transform: scale(1.1, 1.1);
    box-shadow: 1px 6px 15px rgba(123, 75, 168, 0.2);
}


.body_sidebar ul li span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.body_sidebar ul li span p {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

.active_nav {
    background-color: rgb(84, 84, 197, .1);
    transform: scale(1.1, 1.1);
    box-shadow: 1px 6px 15px rgba(123, 75, 168, 0.2);
}

.btn_search_mobile{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    padding: 10px;
    outline: 2px solid rgba(0, 0, 0, .1);
    border-radius: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.btn_search_mobile:hover{
    outline: 3px solid rgb(84, 84, 197, .1);
    outline-offset: 1px;
}

/* theme dark */

.sidebar_dark{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(2px);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    transition: 500ms;
    background-color: #323C48;
}

.sidebar_dark .header_sidebar{
    background: #888f96;
    position: relative;
    z-index: 10;
}

.sidebar_dark .header_sidebar h4{
    color: #ffff;
}

.sidebar_dark .body_sidebar, .sidebar_dark .body_sidebar ul{
    border-radius: 14px;
    background: #474e57;
}

.sidebar_dark .body_sidebar ul li{
    background: #7c828f;
}

.sidebar_dark .body_sidebar ul li span{
    color: #ffff;
}

.sidebar_dark .body_sidebar .active_nav{
    box-shadow: 2px 2px 1px #fff;
}

.sidebar_dark .btn_search_mobile{
    color: #ffff;
    box-shadow: 2px 2px 5px rgb(163, 154, 154);
}

@media screen and (max-width: 750px) {

    .sidebar, .show_sidebar {
        position: absolute;
        bottom: 0;
        height: 100px;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        z-index: 30;
        background-color: #fff;
    }

    .card_img img{
        width: 40px;
        height: 40px;
    }

    .card_img h4{
        display: none;
    }

    .body_sidebar {
        margin: 0;
        width: 100%;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
        border-radius: 14px 0px 0px 14px;
    }

    .body_sidebar ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .body_sidebar .card_img img {
        width: 40px;
        height: 40px;
    }
    
    .body_sidebar .card_img h4 {
        display: none;
    }
    
    .body_sidebar .body_sidebar ul li {
        margin-left: 0;
    }
    
    .body_sidebar ul li span {
        justify-content: center;
        align-items: center;
    }
    
    .body_sidebar ul li span p {
        display: none;
    }

    .sidebar_dark .body_sidebar, .sidebar_dark .body_sidebar ul{
        border-radius: 14px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn_search_mobile{
        display: flex;
    }

    .body_sidebar li[about=profile]{
        display: none;
    }
}
